html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body {
    background-color: #1e1e1e; /* Couleur de fond par défaut de VS Code */
    color: #ffffff; /* Couleur du texte pour un bon contraste */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #252526; /* Couleur légèrement différente pour le header et le footer */
    padding: 1em;
    text-align: center;
}

header h1{
    text-align: left;
    margin-left: 1em;    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}