html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1e1e; /* Couleur de fond par défaut de VS Code */
    color: #ffffff; /* Couleur du texte pour un bon contraste */
    font-family: Arial, sans-serif;
}


header, footer{
    background-color: #252526; 
    padding: 1em;
    text-align: center;
}

header {
    display: flex;
    flex-direction: line;
    align-items: center;
    /* Couleur légèrement différente pour le header et le footer */
    padding: 0em;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0em;
}


.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex: 1;
}

.nav-images {
    display: flex;
    align-items: center;
}

.nav-images a {
    margin-right: 0.7em;
}

h1{
    text-align: left;
    margin: 0;    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex: 1;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#logo {
    width: 80px;
    height: 80px;
    margin-right: 1em;
}

#redirect-menu-icon, #lottie-logo {
    width: 30px;
    height: 30px;
    /* margin-right: 0.7em; */
}

#sidebar {
    position: sticky;
    top: 50px; 
    /* z-index: 1; */
    width: 50px;
    transition: 0.5s;
    overflow-x: hidden;
    background-color: #111;
    background-color: #505050;
    
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#tout-sauf-header {
    border: 1px solid #3700ff ;
    /* position: relative; */
    /* display: flex; */
    /* flex: 1; */
    /* height: 100%; */
    /* flex: 1; */
    /* display: inline; */
}

main {
    padding-left: 1em;
}

.container {
    display: flex;
}

#sidebar a:hover {
    color: #f1f1f1;
}


.sidebar-content {
    /* position: fixed; */
    /* top: 50px; */
    border: 3px solid #16cabb ;
    /* flex: 1; */
    /* height: 1000px; */
    
}

nav {
    position: sticky;
    top: 0px;
    padding: 0.5em;
    background-color: #505050;
    align-items: center;
    /* z-index: 9999; */
    /* display: flex; */
    /* width: 100%; */
    /* margin: 0; */
    /* z-index: 1000;  */
}



/* --------------------------------------------------------------------- */

header {
    /* background-color: #ff0000;  */
}

#sidebar {

    border: 2px solid #ff00b3 ;
    /* background-color: #00ff40; */
}

.container {
    border: 1px solid #5eff00 ;
    /* background-color: aquamarine; */
}

main {
    border: 1px solid #ffffff ;

}

body {
    border: 2px solid #ff00b3 ;

}

html {
    border: 3px solid #09a509 ;

}

