html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    
    background-color: #1e1e1e; /* Couleur de fond par défaut de VS Code */
    color: #ffffff; /* Couleur du texte pour un bon contraste */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
}

header, footer{
    background-color: #252526; 
    /* Couleur légèrement différente pour le header et le footer */
    padding: 1em;
    text-align: center;
}

header {
    display: flex;
    flex-direction: line;
    align-items: center;
    background-color: #ff0000; 
    /* Couleur légèrement différente pour le header et le footer */
    padding: 0em;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0em;
}

nav {
    position: sticky;
    top: 0px;
    padding: 0.5em;
    background-color: #505050;
    align-items: center;
    /* display: flex; */
    /* width: 100%; */
    /* margin: 0; */
    /* z-index: 1000;  */
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex: 1;
}

#side-menu {
    display: none;
}

.nav-images {
    display: flex;
    align-items: center;
}

.nav-images a {
    margin-right: 0.7em;
}


h1{
    text-align: left;
    margin: 0;    
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex: 1;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#logo {
    width: 80px;
    height: 80px;
    margin-right: 1em;
}

#redirect-menu-icon, #lottie-logo {
    width: 30px;
    height: 30px;
    /* margin-right: 0.7em; */
}

.sidebar {
    height: 100%; 
    position: sticky;
    top: 50px; /* Positionner la sidebar sous le header */
    /* height: calc(100% - 100px);  */
    /* Ajuster la hauteur pour exclure la hauteur du header */
    width: 50px;
    background-color: #111;
    z-index: 1;
    left: 0;
    bottom: 0;
    /* overflow-x: hidden; */
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}