.overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}

.overlay-content {
    background: #1e1e1e;
    width: 500px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    font-size: large;
}

/* .close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
} */

#login-message {
    margin-top: 10px;
    font-size: 14px;
}
#login-message.success { color: green; }
#login-message.error { color: red; }


.overlay-content label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.overlay-content input[type="text"],
.overlay-content input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.overlay-content button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.overlay-content button[type="submit"] {
    background: linear-gradient(to bottom, #4CAF50, #45a049);
    color: rgb(0, 0, 0);
}

.overlay-content button[type="button"] {
    background: linear-gradient(to bottom, #f44336, #e53935);
    color: black;
}

.overlay-content button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.overlay-content button:hover[type="submit"] {
    background: linear-gradient(to bottom, #4CAF50, #45a049);
}

.overlay-content button:hover[type="button"] {
    background: linear-gradient(to bottom, #f44336, #e53935);
}

