html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* pour que le footer reste en bas */
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e; /* Couleur de fond par défaut de VS Code */
    color: #ffffff; /* Couleur du texte pour un bon contraste */
    font-family: Arial, sans-serif;
    /* background-color: #505050; */
}


header, footer{
    background-color: #252526; 
    padding: 1em;
    text-align: center;
}

footer {
    position: sticky;
}

header {
    display: flex;
    flex-direction: line;
    align-items: center;
    padding: 0em;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0em;
}

#logo {
    width: 80px;
    height: 80px;
    margin-right: 1em;
}

nav {
    height: 50px;
    position: sticky;
    top: 0px;
    /* padding: 0.5em; */
    background-color: #505050;
    align-items: center;
    

}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    /* border-radius: 5px; */
}

.nav-list {
    display: flex;
    margin: 0 0 0 calc(50px - 0.5em - 30px);
    list-style-type: none;
    justify-content: flex-start;
    flex: 1;
    padding: 0;
}


.nav-list li {
    margin: 0 0.3em;
    padding: 0.2em;
}

.nav-list li a {
    text-decoration: none;
    color: #a3a3a3; /* Couleur du texte */
    font-size: 20px;
    text-align: center;
}

.nav-list li a:hover {
    color: #f1f1f1; /* Couleur du texte au survol */
}

.nav-list li:hover {
    transform: scale(1.03); /* Agrandit légèrement le carré au survol */
}

.nav-images {
    display: flex;
    align-items: center;
}

.nav-images a {
    margin-right: 0.7em;
}

#lottie-logo {
    /* width: 30px;
    height: 30px;*/
    margin-left: 0.5em; 
    cursor: pointer;
}

#prime-container {
    flex: 1; /* Permet à cette section de prendre tout l'espace disponible */
}

h1{
    text-align: left;
    margin: 0;    
}

#redirect-menu-icon, #lottie-logo {
    width: 30px;
    height: 30px;
}

#left-bar {
    position: fixed; /* Fixe la barre à gauche de l'écran */
    top: 0;
    left: 0;
    width: 50px; /* Largeur de la barre */
    height: 100%; /* Prend toute la hauteur de l'écran */
    background-color: #505050; 
    /* background-color: #ff0000;  */
    z-index: -1; /* Place la barre derrière le contenu */
    transition: width 0.5s ease;

}

#sidebar {
    position: sticky;
    top: 50px;
    width: 50px;
    transition: width 0.5s ease;
    background-color: #505050;
    /* height: 100vh; */
    /* If the height is fixed the sticky is working */
    
}

#sidebar img {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    /* margin: 0.5em; */
}

#sidebar a {
    /* padding: 8px 8px 8px 32px; */
    display: flex;
    flex-direction: line;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    overflow: hidden;
    /* display: block; */
    transition: 0.3s;
    white-space: nowrap; /* empeche le retour a la ligne*/
}

#sidebar a:hover {
    color: #f1f1f1;
}


main {
    padding-left: 1em;
    width: 100%;
    transition: width 0.5s ease;
    /* flex: 1; */
}

.container {
    align-items: start;
    display: flex;
}



main h1 {
    /* color: ; */
    text-align: center;
}

/* --------------------------------------------------------------------- */
